[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/GLFW"]
	path = Engine/vendor/GLFW
	url = https://github.com/candianis/glfw
[submodule "Engine/vendor/Imgui"]
	path = Engine/vendor/Imgui
	url = https://github.com/candianis/imgui
